.idea

###Just a big ol note about trash###
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*



### some of this is in the original file###

.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
.stack-work/
cabal.project.local
cabal.project.local~

### And the rest is not###
Chickens are friends, not food.
Chickens are friends, not food2.
Chickens are friends, not food3.
Chickens are friends, not food4.
Chickens are friends, not food5.
Chickens are friends, not food6.
Chickens are friends, not food7.
Chickens are friends, not food8.
